@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-texture {
  background-image: url("/bg-texture.webp");
  background-size: 720px 460px;
  background-repeat: repeat;
  background-position: center;
}
